name: Metrics
on:
  schedule: [{cron: "0 * * * *"}]   # updates every hour
  workflow_dispatch:               # allows manual run

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: header, activity, community, repositories, metadata
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_isocalendar: yes
          plugin_stars: yes
          plugin_followup: yes
          plugin_traffic: yes
